<div class="relogio">
<iframe src="http://free.timeanddate.com/clock/i7gsait2/n233/tlbr5/tct/pct/tt0/tw0/tm1/th2/ts1/tb4" frameborder="0" width="121" height="34" allowTransparency="true"></iframe>
</div>


<!-- TEXT -->

<div class="controle">
    <div class="entrada">
      <strong>ENTRADA:</strong>
      <date-util format="dd/MM/yyyy"></date-util>

      <%= @schedules.last&.started_at&.strftime("%I:%M%p %d/%m/%Y") %>
    </div>

    <div class="saida">
      <strong>SAÍDA:</strong>
      <%= @schedules.last&.finished_at&.strftime("%I:%M%p %d/%m/%Y") %>
    </div>
  </div>

<% @schedules.each do |schedule| %>
<% unless schedule.finished_at.present? %>
  <button class= "btn2 btn"><span>
    <%= button_to "SAÍDA", edit_schedule_path(schedule), method: 'get'%>
    </span>
  </button>
<% end %>

  <button class= "btn3 btn"><span>
    <%= button_to 'Remover', schedule_path(schedule), method: 'delete'%></span>
  </button>
<% end %>

<% if @schedules.empty? %>
  <button class= "btn1 btn"><span>
    <%= button_to "BATER", new_schedule_path, method: 'get' %>
    </span>
  </button>
<% end %>