<div class="relogio">
  <div id="clock"></div><%= image_tag("clock.png", :class => "lclock") %>

  <script>
    function currentTime() {
      var date = new Date(); /* creating object of Date class */
      var hour = date.getHours();
      var min = date.getMinutes();
      var sec = date.getSeconds();
      var midday = "AM";
      midday = (hour >= 12) ? "PM" : "AM"; /* assigning AM/PM */
      hour = (hour == 0) ? 12 : ((hour > 12) ? (hour - 12): hour); /* assigning hour in 12-hour format */
      hour = updateTime(hour);
      min = updateTime(min);
      sec = updateTime(sec);
      document.getElementById("clock").innerText = hour + " : " + min + " : " + sec + " " + midday; /* adding time to the div */
        var t = setTimeout(currentTime, 1000); /* setting timer */
      }
      function updateTime(k) { /* appending 0 before time elements if less than 10 */
        if (k < 10) {
          return "0" + k;
        }
        else {
          return k;
        }
      }
      currentTime();
  </script>
</div>

<div class="controlegeral">
  <div class="controle">
    <div class="entrada">
      <p>ENTRADA:</p>
    </div>

    <div class="saida">
      <p>SAÍDA:</p>
    </div>
  </div>

  <% if @schedule&.started_at&.strftime("%d/%m/%Y") == @now.strftime("%d/%m/%Y") %>
    <div class="horarios">
      <p class="entradac">
        <%= @schedule.started_at&.strftime("%d/%m/%Y  %I:%M%p") %>
      </p>

      <p class="saidac">
        <%= @schedule.finished_at&.strftime("%d/%m/%Y %I:%M%p" ) %>
      </p>
    </div>
  <% end %>

  <% if @schedule.present? && @schedule&.finished_at&.strftime("%d/%m/%Y") != @now.strftime("%d/%m/%Y") %>
    <button class= "btn2 btn">
      <span>
        <%= link_to "SAÍDA", schedule_path(@schedule, status: 'finishing'), method: 'put'%>
      </span>       
    </button>
  <% end %>

  <% if @schedule&.started_at&.strftime("%d/%m/%Y") != @now.strftime("%d/%m/%Y") ||  @schedule.nil? %>
    <button class= "btn1 btn">
      <span>
        <%= link_to "BATER", new_schedule_path, method: 'get' %>
      </span>
    </button> 
  <% end %>
  
</div>