<h1>Customers#index</h1>
<p>Find me in app/views/customers/index.html.erb</p>

<table>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= link_to customer.name, customer_path(customer) %></td>
      <td><%= link_to customer.status, customer_path(customer) %></td>
      <td><%= button_to 'Edit', edit_customer_path(customer), method: 'get'%></td>
      <td><%= button_to 'Remove', customer_path(customer), method: 'delete', data: { confirm: 'Você tem certeza?' } %></td>
  <% end %>
</table>
<%= link_to "Adicionar novo Cliente", new_customer_path %>